body{
    margin: 0;
    background-color: black;
}


#grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


a{
    text-decoration: none;
}


#grid .general{
    text-align: center;
    padding-top: 25%;
    margin: 10%;
}


#left_div:hover img{
    opacity: 1;
}


#right_div:hover img{
    opacity: 1;
}


#grid>div>a>img{
    position: absolute;
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 10;
    opacity: 0.8;
}


.general, #rating_grid p{
    position: relative;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 300%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: -2px 2px black;
}

.general{
    margin: 4.5%;
}


#rating_grid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    bottom: 20%;
}


#rating_grid img{
    position: relative;
    width: 25%;
}


#rating_grid p{
    left: 80%;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    color: aliceblue;
    text-align: center;
    text-shadow: -3px 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
}


#score{
    bottom: 28%;
}


#h_score{
    bottom: 20%;
}


#question{
    position: absolute;
    top: 0%;
    width: 100%;
    text-align: center;
}


h5{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 400%;
    color: black;
    border-radius: 50%;
    padding: 1.6%;
    width: 6%;
    top: 25%;
    border: 3px solid aliceblue;
    background-color: aliceblue;
    text-align: center;
}


#or{
    display: flex;
    justify-content: center;
}
