<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Higher or Lower IMDb Rating</title>
    <link rel="stylesheet" href='{{url_for("static", filename="home.css")}}'>
</head>
<body>
    <div  id="grid">
        <div>
            <img src="{{left_poster}}" alt="">
        </div>
        <div>
            <img src="{{right_poster}}" alt="">
        </div>
    </div>

    <div id="question">
        <p>Which Is Rated Higher?</p>
    </div>
    <h5>
        or
    </h5>
    <div id="grid_tittel">
        <div>
            <p id="left">{{left}}</p>
        </div>
        <div>
            <p id="right">{{right}}</p>
        </div>
    </div>
    
</body>
</html>

