<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Higher or Lower IMDb</title>
    <link rel="stylesheet" href='{{url_for("static", filename="index.css")}}'>
</head>
<body>
    <div  id="grid">
        <div>
            <a href="/id">
                <img src="{{left_poster}}" alt="">
            </a>
        </div>
        <div>
            <a href="/id">
                <img src="{{right_poster}}" alt="">
            </a>
        </div>
    </div>

    <div id="question">
        <p>Which Is Rated Higher?</p>
    </div>
    
    <div id="grid_tittel">
        <div>
            <p id="left">{{left_title}}</p>
        </div>
        <div>
            <p id="right">{{right_title}}</p>
        </div>
    </div>

    <div id="or">
        <h5>
            or
        </h5>
    </div>
    
</body>
</html>

