<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Higher or Lower IMDb</title>
    <link rel="stylesheet" href='{{url_for("static", filename="index.css")}}'>
</head>
<body>
    <div id="grid">
        <div id="left_div">
            <a href="/rating/{{score}}/left">
                <img src="{{left_poster}}" alt="">
                <p class="general">{{left_title}}</p>
                <div id="rating_grid">
                    <p>{{left_rating}}</p>
                    <img src="../static/images/imdb-logo-transparent.png" alt="">
                </div>
            </a>
        </div>

        <div id="right_div">
            <a href="/rating/{{score}}/right">
                <img src="{{right_poster}}" alt="">
                <p class="general">{{right_title}}</p>
            </a>
        </div>
    </div>


    <div id="question">
        <p class="general">Which Is Rated Higher?</p>
    </div>


    <div id="or">
        <h5>
            or
        </h5>
    </div>

    <div id="score">
        <h1>Score: {{score}}</h1>
        <h1>High score: {{highscore}}</h1>
    </div>
    
</body>
</html>

